/* Colors */
:root {
    --primary-background: #f71ba2;
    --secondary-background: #c50f7e;
    --third-background: #e1389f;
    --text-color: white;
    
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-background); /* Set the background color for the entire page */

    margin: 0; /* Optional: Remove default margin */
    padding: 0; /* Optional: Remove default padding */
    color: white; /* Set a default text color for the entire page (if desired) */
}

/* Header Styles */
.header {
    background-image: linear-gradient(to right, #f71ba2, #e1389f, #f71ba2); /* Subtle gradient around #f71ba2 */
    color: white;
    display: flex;
    padding-top:4px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--secondary-background);
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
}

.header .logo-and-resources {
    display: flex; /* Align logo and resources side by side */
    align-items: center; /* Vertically align the items */
    gap: 20px; /* Adjust the space between the logo and the resources link */
}

.logo-and-resources,
.nav-links-right {
    flex: 1; /* Assign a flex value to make sure they can grow equally */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Center the contents of these containers */
}

.nav-links-center {
    flex: 2; /* Give the center links double the space to ensure they stay in the center */
    display: flex;
    justify-content: center;
    /* Remove any margin or padding that might offset the centering */
    padding: 0;
}

.nav-links-center .logo {
    max-width: 50px; /* Adjust the size as necessary */
    height: auto;
    padding: 0 10px; /* Add padding to give some space around the logo */
}

/* Optional: If you want to vertically center the items in the navbar */
.nav-links-center ul {
    display: flex;
    align-items: center; /* This ensures vertical alignment */
    justify-content: center; /* This keeps items horizontally centered */
}

.nav-links-right {
    justify-content: flex-end; /* Align .nav-links-right to the right */
}

.header .logo img {
    max-width: 50px;
    height: auto;
}

.nav-links-left,
.nav-links-center,
.nav-links-right {
    display: flex;
    align-items: center;
}

.nav-links-left ul,
.nav-links-center ul,
.nav-links-right ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

.nav-links-center {
    flex-grow: 1;
    justify-content: center;
}

.nav-links-right {
    margin: 0; /* Reset margin to allow flexbox to handle spacing */
}

/* Normal state, button appears raised */
.nav-links a {
    border: none; /* No border for a cleaner look */
    padding: 10px 15px;
    border-radius: 5px; /* Rounded corners */
    color: white;
    text-decoration: none;
    box-shadow: 1px 4px #e1389f; /* Shadow to give depth */
    background-image: linear-gradient(to bottom, rgba(225, 56, 159, 0.7), rgba(197, 15, 126, 0.7)); /* Gradient using new colors */
    transition: all 0.2s ease;
}


.nav-links, .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* Clickable area padding */
    list-style: none;
    transition: text-shadow 0.3s ease; /* Smooth transition for text-shadow */
}
/* Stronger text shadow on hover */
.nav-links a:hover {
    text-shadow: 0px 0px 10px #d80073, /* Strong dark pink glow */
                 0px 0px 20px #d80073; /* Layering multiple shadows for intensity */
}

.nav-links-left a, 
.nav-links-center a, 
.nav-links-right a {
    font-weight: 100;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: default;
}

.dropdown-content {
    display: none; /* Initially hide the dropdown content */
    position: absolute;
    background-color: #f71ba2; /* Pink background */
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 3px solid white; /* White border */
    border-radius: 8px; /* Example border radius */
    overflow: hidden; /* Ensures the content does not spill outside the border radius */
}

.dropdown-content a {
    color: white; /* White text for dropdown items */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover { background-color: #d80073; } /* Slightly darker pink for hover effect */

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown content on hover */
}

.dropdown-content li {
    padding: 1px 0; /* This adds vertical padding to each dropdown item */
}

/* Style for the dropdown arrow */
.dropdown-arrow {
    display: inline-block;
    margin-left: 5px; /* Adjust space between text and arrow */
    transition: transform 0.3s ease; /* Smooth transition for rotation */
}

/* Rotate arrow on hover */
.dropdown:hover .dropdown-arrow {
    transform: rotate(180deg);
}

/* Pressed state for active menu item */
.nav-links a:not([target="_blank"]).active-menu-item {
    box-shadow: 1px 2px #e1389f inset; /* Inset shadow for pressed effect */
    background-image: linear-gradient(to top, rgba(225, 56, 159, 0.7), rgba(197, 15, 126, 0.7)); /* Gradient using new colors for pressed state */
    transform: translateY(2px); /* Moves the button down */
    color: white;
    border: none;
}


.main-title {
    text-align: center; /* Centers the text horizontally */
    font-size: 60px; /* Large font size for main title */
    font-weight: 900; /* Bold font weight */
    color: #FFFFFF; /* White color for the text */
    text-shadow: 
        -2px -2px 0 var(--primary-background),  
         2px -2px 0 var(--primary-background),
         -2px 2px 0 var(--primary-background),
         2px 2px 0 var(--primary-background),
        -1px -1px 0 var(--primary-background),  
         1px -1px 0 var(--primary-background),
         -1px 1px 0 var(--primary-background),
         1px 1px 0 var(--primary-background); /* Creates a thicker border effect */
    padding-top: 30px; /* Increases padding at the top */
    padding-bottom: 30px; /* Padding at the bottom */
    letter-spacing: 2px; /* Optional: Increases spacing between letters */
    position: relative; /* Needed for z-index to take effect */
}

/* Banner Styles */

.banner-container {
    display: flex;
    flex-direction: row; /* Align children horizontally */
    justify-content: center; /* Center the children */
    align-items: center; /* Vertically align the children in the middle */
    gap: 20px; /* Add some space between the items */
    flex-wrap: wrap;
}

.feature-titles, .ascii-banner, .banner {
    flex: 1 1 300px; /* Allow each item to grow equally */
    text-align: center; /* Center-align the text */
}

.banner {
    padding: 20px;
    display: flex; /* This will allow you to use justify-content and align-items */
    justify-content: center; /* This will center the content vertically */
    align-items: center; /* This will center the content horizontally */
    text-align: left; /* Center align the content */
}

.banner .banner-text {
    font-size: 18px; /* Reduced font size for a better fit */
    line-height: 1.4; /* Adjust line height for better readability */
    font-weight: 800;
    color: white;
    padding: 10px 30px; /* Adjust padding to reduce height and maintain readability */
    margin: 0 auto; /* Centers the text block within the banner */
    max-width: calc(100% - 60px); /* You can adjust this value as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(247, 27, 162, 0.4), rgba(247, 27, 162, 0));
    border-radius: 20px;
}

.ascii-banner {
    display: flex;
    justify-content: center;
    align-items: center; /* This will vertically center the ASCII art if the container is taller than the art */
    flex: 1; /* This ensures the container can grow */
}

.ascii-banner pre {
    font-family: 'Courier New', Courier, monospace; /* Ensures consistent character width */
    white-space: pre; /* Preserves whitespace and line breaks */
    display: block; /* Ensures the ASCII art is on its own line */
    overflow-x: auto; /* Allows horizontal scrolling if necessary */
    font-size: 12px; /* Adjust the font size as needed */
    margin: 0; /* Removes default margin from 'pre' */
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-align: left; /* Aligns text to the left */
}

.ascii-banner span.clickable {
    cursor: default; /* Keeps the cursor as the default pointer */
}

/* Adjusted .feature-titles and .title for Flexbox */
.feature-titles {
    /* Removed absolute positioning */
    display: flex;
    flex-direction: column; /* Align titles vertically */
    justify-content: center; /* Center titles vertically */
    align-items: center; /* Center titles horizontally */
}

.title {
    /* Removed absolute positioning and related properties */
    font-size: 30px;
    font-weight: 900;
    color: #ffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(247, 27, 162, 0.4), rgba(247, 27, 162, 0));
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0; /* Added margin for spacing between titles */
    transition: all 0.3s ease;
}

.title:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}


/* Features Section Styles */
.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center; /* Centering features */
}

.feature-row {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centering feature rows */
    flex-wrap: wrap; /* Wrap items to the next line if not enough space */
}

.feature {
    background-color: var(--third-background);
    background: linear-gradient(to bottom right, #f71ba2, #c50f7e);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: flex-start; /* Align content to the start */
    gap: 10px; /* Space between content */
    /*min-width: 250px; /* Minimum width of the feature box */
    max-width: 800px; /* Maximum width of the feature box */
    /*min-height: 250px; /* Minimum height of the feature box */
    max-height: 350px; /* Maximum height of the feature box */
    box-sizing: border-box; /* Include padding and border in box size */
    overflow: hidden; /* Hide overflow */
    margin-bottom: 5px; /* Spacing between feature blocks */
}

.feature img {
    width: 100%; /* Make the image responsive */
    max-width: 150px; /* Maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    align-self: center; /* Center the image in the feature box */
}

.feature-title {
    font-size: 28px;
    font-weight: 800;
    color: white;
    width: 100%; /* Make the title take full width */
    text-align: center;
    margin-bottom: 10px; /* Space between the title and content */
}

.feature p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 0; /* Reset margin */
    flex-grow: 1; /* Allow the paragraph to fill the remaining space */
    overflow-y: auto; /* Enable scrolling for overflow content */
}

/* Ensure that the flex items do not grow beyond their containers */
.feature-content {
    display: flex;
    flex-direction: row; /* Arrange the image and text side by side */
    align-items: center;
    gap: 10px;
    width: 100%; /* Ensure the flex container takes the full width */
}

/* Individual Styles for Feature Images */
.infinityf {
    margin-top: -40px; /* Adjust this value to move the image up or down */
}

.privacyf {
    margin-top: -5px; /* Adjust this value to move the image up or down */
}

.partyf {
    margin-top: -90px;    /* Adjust margin-top as needed */
}

.miningf {
    margin-top: -30px;    /* Adjust margin-top as needed */
}

.text-link {
    color: #ff69b4; /* Lighter, vibrant pink for better visibility */
    text-decoration: none; /* Removes the default underline */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease, text-decoration-color 0.3s ease; /* Smooth transition for color and underline */
}

.text-link:hover, .text-link:focus {
    color: #c71585; /* Darker pink for hover state to add contrast */
    text-decoration: underline; /* Adds underline on hover */
    text-decoration-color: #c71585; /* Custom underline color matching the hover state color */
    text-decoration-thickness: 2px; /* Adjusts the thickness of the underline for better visibility */
    text-underline-offset: 3px; /* Adjusts the position of the underline */
}

/* how to get haircomb */
.getcomb {
    background: linear-gradient(to bottom right, #c50f7e, #e1389f);
    text-align: center; /* Center align the content */
    padding: 20px;
}

.getcomb .getcomb-text {
    font-size: 26px;
    font-weight: 800;
    color: white;
    text-align: center; /* Center align the content */
    padding: 0 30px; /* Adds 10px padding to the left and right */
    margin: 0 auto; /* Centers the text block within the banner */
    max-width: calc(100% - 60px);
}


.chart-container {
    background-color: var(--third-background); /* Light pink background */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Shadow effect */
    border-radius: 10px; /* Rounded corners */
    margin: 50px auto;
    padding: 20px; /* Padding inside the container */
    width: calc(100% - 40px); /* Adjust width to account for padding */
    max-width: 1050px; /* Adjusted max width */
    box-sizing: border-box; /* Include padding in the width calculation */
    transition: padding 0.3s ease, margin 0.3s ease; /* Smooth transition for padding and margin */
}


#myChart {
    /* Remove absolute positioning and left property */
    width: 100%; /* Chart takes full width of its parent container */
    height: auto; /* Height is auto to maintain aspect ratio */
}

.data-above-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-above-chart > div {
    flex: 1; /* Each child takes equal space */
    text-align: center; /* Center the text within each child */
}

.mempool-transactions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding: 0; /* No padding here */
    height: auto; /* Adjusted to content */
}

.content-wrapper {
    border: 2px solid var(--secondary-background); /* Sets the border color */
    padding: 10px; /* Padding around the content */
    background-image: linear-gradient(to top, rgba(225, 56, 159, 0.7), rgba(197, 15, 126, 0.7));
    border-radius: 10px;
}

.mempool-transactions-box ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Remove bullet points */
    width: fit-content; /* Fits to content width */
    margin: 0 auto; /* Centers the list */
}

.mempool-transactions-box li {
    border-bottom: 1px solid white;
    padding: 5px 10px; /* Padding inside each list item */
    margin: 0; /* Remove margin */
}

.top-fee, .comb-price {
    text-align: center; /* Center the text within these divs */
}

.top-fee div, .comb-price div {
    /* If you have div elements inside .top-fee and .comb-price and want to center their text as well */
    text-align: center;
}

.top-fee span, .comb-price span {
    display: block; /* Ensures the element is treated as a block, enabling center alignment */
    margin: 0 auto; /* Automatically centers the block element within its container */
    font-size: 1.5em;
    color: white;
}

.top-fee-text, .comb-price-text {
    font-size: 2em;
}

.p2wsh-address {
    display: block; /* Treat as a block-level element */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center the block element within its container */
    font-size: 0.8em; /* Smaller font size for the P2WSH address */
    color: #FFFFFF; /* You can change this as per your color scheme */
    /* Additional styling as required */
}

.fee-container, .price-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
}


/* Remove the last list item's border */
.mempool-transactions-box li:last-child {
    border-bottom: none;
}

#transactionList {
    height: 100%; /* Make sure the list takes up the entire height of its container */
}

.clickableFee {
    cursor: pointer;
}

.transaction-address, .transaction-fee {
    display: inline-block;
    margin-right: 10px; /* Adds spacing between the address and fee */
  }
  

.fee-tooltip {
    position: relative;
    display: block;
    cursor: pointer;
}

.fee-tooltip .fee-tooltiptext {
    visibility: hidden;
    width: auto; /* allows the tooltip to fit the content */
    background-color: var(--primary-background);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* position above the element */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0.8em; /* smaller text */
    pointer-events: none; /* prevents the tooltip from being clickable */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }

.circle-background {
    display: inline-block;
    background-image: linear-gradient(to top, rgba(225, 56, 159, 0.7), rgba(197, 15, 126, 0.7));
    border: 2px solid var(--secondary-background); /* Sets the border color */
    border-radius: 50%;
    padding: 30px; /* Adjust padding as needed */
    text-align: center;
}

.top-fee-text.circle-background {
    border: 2px solid var(--secondary-background);
    border-radius: 50%;
    white-space: nowrap;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--secondary-background); /* Sets the border color */
    border-radius: 10px; /* Rounded corners for the border */
    background-image: linear-gradient(to top, rgba(225, 56, 159, 0.7), rgba(197, 15, 126, 0.7));
    color: white; /* Text color */
    white-space: nowrap;
    margin: 10px 0; /* Add margin for spacing, adjust as needed */
}

/* claim guide */

/* Claim Guide Container */
.claim-guide-container {
    background: linear-gradient(to bottom right, #c50f7e, #e1389f);
    margin: 20px auto; /* Center the container with some margin on the top and bottom */
    padding: 20px; /* Add padding inside the container for spacing */
    border-radius: 10px; /* Rounded corners for consistency with the chart container */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Shadow effect for depth */
    max-width: 1050px; /* Match the max width of the chart container */
    position: relative;
}

/* Claim Guide Quote */
.claim-guide-quote {
    color: var(--text-color); /* Use the predefined text color */
    font-size: 1.2em; /* Increase to about twice the original size, considering it was smaller than the main text */
    font-style: italic; /* Italicize the quote */
    margin-bottom: 20px; /* Add some space below the quote */
    text-align: center; /* Center-align the quote */
    line-height: 1.4; /* Adjust line height for better readability */
    padding: 0 20px; /* Add padding to the sides to prevent the text from touching the container edges */
}

/* Claim Guide Title */
.claim-guide-title {
    color: var(--text-color); /* Use the predefined text color */
    margin-bottom: 15px; /* Add some space below the title */
    font-size: 3em; /* Increase to about twice the original size */
    text-align: center; /* Center-align the title */
}

.claim-guide-text::before {
    content: '•'; /* Dot symbol */
    font-size: 2em; /* Size of the dot */
    color: var(--primary-background); /* Color of the dot */
    position: absolute; /* Position the dot absolutely relative to its parent */
    margin-right: 15px; /* Space between the dot and the text */
    top: 0;
    left: 0;
}

.claim-guide-text {
    color: var(--text-color); /* Predefined text color */
    margin-bottom: 10px; /* Space between paragraphs */
    font-size: 1.6em; /* Font size of the text */
    line-height: 1.6em; /* Line height for readability */
    padding-left: 40px; /* Add padding to make space for the absolutely positioned dot */
    margin-left: 20px; /* Add margin to the left to align with the container's text */
    position: relative;
}

.step-image {
    display: block; /* Ensures the image is on its own line */
    margin: 10px auto; /* Centers the image and adds some space around it */
    max-width: 100%; /* Ensures the image is responsive and doesn't overflow its container */
    height: auto; /* Keeps the image aspect ratio */
}

/* pinkpill collage */
.image-collage-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pink-pill-image {
    display: block; /* Ensures the image is a block-level element */
    max-width: 90%; /* Limits the image width to 90% of its container */
    height: auto; /* Keeps the image aspect ratio intact */
    margin: 20px auto; /* Adds space around the image and centers it horizontally */
}

.image-collage {
    flex: 1; /* Allows the image collages to grow as needed */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center images vertically in the collage */
    max-width: 25%; /* Limit the width of the image collages if necessary */
}

.image-collage-left {
    margin-right: auto; /* Pushes the collage to the left */
}

.image-collage-right {
    margin-left: auto; /* Pushes the collage to the right */
}

.image-collage img {
    width: 100%; /* Adjust size as needed */
    max-width: 300px; /* Adjust max size as needed */
    height: auto;
    transition: transform 0.3s ease;

    /* Optional: Add a hover effect */
    &:hover {
        transform: scale(1.1);
    }
}

.pink-pill-container {
    width: 50%; /* Takes up half the width of the page */
    margin: 40px auto; /* Centers the box horizontally */
    padding: 20px; /* Padding inside the box */
    border: 2px solid white; /* Glowing white border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* White glow effect */
    background-color: var(--third-background); /* Background color from your root variables */
    text-align: center; /* Center the text */
}

.pink-pill-content {
    color: white; /* Text color */
    line-height: 1.6; /* Adjust line spacing for better readability */
    font-size: 24px;
}

.address-style{
        color: white; /* Text color */
        line-height: 1.6; /* Adjust line spacing for better readability */
        font-size: 12px;
}

.audio-control {
    position: absolute; /* Absolute position relative to the closest positioned ancestor */
    top: 120px; /* Adjust as needed to place it above the pink-pill-container */
    right: 50%; /* Adjust as needed based on your layout */
    transform: translateX(50%); /* Adjust to center the button */
    z-index: 100; /* High z-index to ensure it's on top */
}


#muteButton {
    position: absolute; /* Position the button absolutely within .audio-control */
    top: -50px; /* Adjust this value as needed to position above the pink pill box */
    left: 50%; /* Start at the horizontal center of .audio-control */
    transform: translateX(-50%); /* Center the button exactly */
    z-index: 20; /* Ensure the button is above the .pink-pill-container */
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    border-radius: 50%; /* Make it circular */
    background: linear-gradient(to bottom, #F71BA2, #F71BA2);
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    cursor: pointer; /* Change cursor to indicate clickable */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    transition: all 0.3s ease; /* Smooth transition for effects */
}

/* Style for the music icon */
#muteButton:not(.muted)::before {
    content: '\f028'; /* Font Awesome icon unicode for unmuted speaker */
    font-family: 'Font Awesome 5 Free'; /* Specify the font family */
    font-weight: 900; /* Required for solid style */
    color: white; /* Icon color */
    text-shadow: none; /* Optionally remove text shadow from icon */
    font-size: 24px; /* Icon size */
    transition: transform 0.3s ease; /* Smooth transition for the icon transform */
}

/* When music is muted, change icon to muted speaker */
#muteButton.muted::before {
    content: '\f6a9'; /* Font Awesome icon unicode for muted speaker */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Required for solid style */
    color: white; /* Icon color */
    text-shadow: none; /* Optionally remove text shadow from icon */
    font-size: 24px; /* Icon size */
    transition: transform 0.3s ease; /* Smooth transition for the icon transform */
}

/* IRL CLAIM SECTION */
.irl-claims {
    margin-top: 20px; /* Add some space between the content above and this section */
}

.irl-claims .irl-title {
    font-size: 48px; /* Increase the font size of the title */
    font-weight: bold; /* Make the title bold */
    text-align: center; /* Center the title text */
    margin: 20px 0; /* Add some margin above and below the title */
    display: flex; /* Use flexbox to place the image between CLAIM and IRL */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.irl-claims .irl-title::before,
.irl-claims .irl-title::after {
    content: ""; /* Add pseudo-elements for spacing */
    display: inline-block;
    width: 50px; /* Space width */
    height: 10px; /* Just for visual spacing, adjust as needed */
    background: transparent; /* Transparent background */
}

.irl-claims .irl-title {
    text-align: center; /* Center the text within the title */
}

.irl-claims .irl-title img {
    display: block; /* Make the image a block-level element */
    width: 20px; /* Size of the image */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto 0; /* Center the image horizontally and add some space above it */
    border-radius: 10px; /* Rounded corners for the image */
}

.irl-image {
    display: block; /* Ensure the image is a block-level element */
    width: 250px; /* Set the desired width of the image */
    max-width: 100%; /* Ensure the image is responsive and does not exceed its container's width */
    height: auto; /* Maintain the image's aspect ratio */
    margin: 20px auto; /* Center the image and add vertical spacing */
    border-radius: 10px; /* Rounded corners */
}



.new-images-container {
    display: grid; /* Use grid layout for the images */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Create columns that automatically fill the space */
    gap: 20px; /* Space between the images */
    padding: 20px; /* Padding around the grid */
    justify-items: center; /* Center the items in their grid cell */
}

.new-style-images {
    width: 100%; /* Each image will fill its cell */

    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners for the images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

.footer {
    background-image: linear-gradient(to right, #f71ba2, #e1389f, #f71ba2);
    color: white;
    padding: 10px;
    font-weight: 600;
    position: relative; /* Keep as relative */
    width: 100%; /* Full width */
    border-top: 1px solid var(--secondary-background);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding in the width */
}

.footer-content {
    box-sizing: border-box; /* Include padding in the width */
    padding-left: 50px;
    padding-right: 50px;
    width: 100%; /* Ensure it spans the full width of the footer */
    max-width: 1200px; /* You can set a max-width if you want to limit the content width */
    margin: 0 auto; /* This will center the footer content if it's less than the max-width */
}

.footer-content a {
    color: white;
    margin: 0 40px;
    font-size: 40px;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #d80073;
}

@media screen and (min-width: 960px) {
    .top-fee {
        padding-left: 25px; /* Creates space inside the container, pushing content to the right */
    }
}


/* phone changes */

@media (max-width: 768px) {
    /* Adjust the main title for smaller screens */
    .main-title {
        font-size: 5vw; /* Scale the font size based on the viewport width */
        padding: 20px 10px; /* Reduce the top and bottom padding, and add some side padding */
    }

    /* Make the header more compact and ensure the logo is centered */
    .header {
        display: flex;
        justify-content: space-between; /* This will push the nav links to the edges and center the logo */
        padding: 10px; /* Adjust padding for mobile */
    }

    /* Align the left and right nav links and allow them to grow equally */
    .nav-links-left, .nav-links-right {
        display: flex;
        flex-grow: 1; /* Allow the left and right sections to grow */
        justify-content: flex-start; /* Align left nav links to the start */
    }

    .nav-links-right {
        justify-content: flex-end; /* Align right nav links to the end */
    }

    /* Adjust the center logo */
    .nav-links-center .logo {
        position: absolute; /* Position logo absolutely within the header */
        left: 50%;
        top: 5px;
        transform: translateX(-50%); /* This will center the logo */
        max-width: 40px; /* Adjust logo size if necessary */
        height: auto;
    }

    /* Adjust the nav links */
    .nav-links a {
        padding: 8px 10px; /* Adjust padding for nav links */
        font-size: 14px; /* Adjust font size for nav links */
    }

    /* Ensure nav link sections are not set to grow and are centered */
    .nav-links-center {
        flex: 0; /* Prevent the center from growing */
        display: flex;
        justify-content: center; /* Center the logo */
        align-items: center; /* Vertically align the logo */
    }

    /* Reduce space between nav link text */
    .nav-links ul {
        display: flex; /* Ensure that UL is a flex container */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
        list-style-type: none; /* Remove bullet points */
        justify-content: center; /* Center the list items */
        position: relative; /* Positioning context for the absolute logo */
    }

    .nav-links li {
        margin: 0 5px; /* Adjust margin of list items */
    }

    .nav-links li:last-child {
        margin-right: 0; /* Remove right margin of the last list item */
    }

    /* Simplify the banner for smaller screens */
    .banner-container {
        flex-direction: column; /* Stack children vertically on smaller screens */
    }

    /* Optional: Adjust the padding and text size for smaller screens */
    .banner .banner-text, .feature-titles .title, .ascii-banner pre {
        font-size: 16px; /* Adjust font size for smaller screens if necessary */
        padding: 10px; /* Reduce padding on smaller screens */
    }

    /* If you want to center the text for the .banner-text on smaller screens */
    .banner .banner-text {
        text-align: center;
    }

    /* Adjust the ASCII art for smaller screens */
    .ascii-banner pre {
        font-size: 10px; /* You might need to go smaller depending on the screen size */
        line-height: 1.2; /* Adjust line height to maintain the layout of the ASCII art */
        margin: 0 auto; /* Center the ASCII art within its container */
        overflow-x: auto; /* Allows scrolling if the art is too wide */
        max-width: 100%; /* Ensure it doesn't overflow the screen width */
        word-break: break-word; /* Allows the text to wrap and prevents horizontal scrolling */
    }

    /* Adjust feature sections to stack vertically */
    .features, .feature-row {
        flex-direction: column;
        align-items: center; /* Center-align feature sections */
    }

    /* Make each feature take the full width */
    .feature {
        width: 100%; /* Full width for each feature block */
        max-width: 100%; /* Ensure blocks don't exceed the container's width */
        padding: 15px; /* Adjust padding to suit smaller screens */
        margin-bottom: 20px; /* Increase margin for clearer separation */
    }

    .getcomb .getcomb-text{
        font-size:3.5vw;
    }

    /* Adjust feature content to stack vertically */
    .feature-content {
        flex-direction: column;
        text-align: center; /* Center-align the text */
    }

    /* Adjust feature titles and paragraphs for readability */
    .feature-title, .feature p {
        font-size: 16px; /* Slightly reduce font size for space efficiency */
    }

    /* Adjust the footer for smaller screens */
    .footer {
        flex-direction: column; /* Stack footer content vertically */
        padding: 20px 10px; /* Adjust padding */
    }

    .footer-content a {
        font-size: 30px; /* Scale down icons for consistency */
        margin: 10px 20px; /* Adjust spacing around icons */
    }
}


/* end phone changes */


@media (max-width: 768px) {
    .feature-content {
        flex-direction: column; /* Stack image and text on small screens */
    }

    .feature img {
        max-width: 80px; /* Ensure the image is responsive within the feature box */
        height: auto;
        margin-bottom: 5px; /* Space between the image and paragraph */
    }

    .feature p {
        text-align: center; /* Center text on small screens */
    }

    .feature {
        max-width: none; /* Remove max width on smaller screens */
        width: auto; /* Allow the feature boxes to adjust to content size */
    }

    .partyf {
        margin-top: 0; /* Reset the negative margin for mobile view */
        /* Add any additional styling needed to position the image correctly */
    }

    .miningf {
        margin-top: 0;
    }

    .infinityf {
        margin-top: 0;
    }

    .quantumf {
        margin-top: 0;
    }

    .privacyf {
        margin-top: 0;
    }

    .chart-container {
        margin: 20px auto; /* Reduced margin */
        padding: 10px; /* Reduced padding */
        width: auto; /* Chart container width is automatic */
        font-size: 2vw; /* This will scale text size with the viewport width */
    }

    #myChart {
        width: 95vw; /* Set chart width relative to viewport width */
        height: auto; /* Maintain aspect ratio */
        max-height: 300px; /* Optional: if you want to limit how tall the chart can be */
    }

    .data-above-chart {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .top-fee, .comb-price, .mempool-transactions-box {
        /* Ensure full width for small screens and center content */
        width: 100%;
        text-align: center;
        margin: 10px 0; /* Add some vertical spacing between elements */
    }

    .mempool-transactions-box .content-wrapper {
        width: 100%; /* Allow the border to take full width of the box */
        box-sizing: border-box; /* Include padding and border in the element's total width */
        width: fit-content;
    }

    .mempool-transactions-box ul {
        width: auto; /* Let the list determine its own width */
        margin: 0; /* Reset any horizontal margins */
    }

    .mempool-transactions-box li {
        /* Center the list items and remove the full-width border */
        display: block; /* Stack list items */
        border-bottom: 1px solid white;
        padding: 5px 0; /* Adjust padding as needed */
        text-align: center; /* Center the text of list items */
    }

    .claim-guide-container{
        font-size:2vw;
    }

    .pink-pill-image {
        max-width: 80%; /* Allows the image to be larger on smaller screens */
    }

    .pink-pill-content {
        font-size: 2.5vw;
    }

    .irl-claims .irl-title {
        font-size: 24px; /* Smaller font size for mobile */
        /* Adjust margins if necessary */
        margin: 10px 0;
    }

    .irl-claims .irl-title img {
        width: 15px; /* Smaller image for mobile */
        /* Adjust margins if necessary */
        margin: 10px auto 0;
    }

    .irl-image {
        width: 100px; /* Smaller width for mobile */
        /* Center the image if necessary */
        margin: 10px auto;
    }

    .address-style{
        font-size: 1.2vw;
    }

    .new-images-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Smaller columns */
        gap: 10px; /* Smaller gap between images */
        padding: 10px; /* Smaller padding around the container */
    }
}

  
